@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

html{
  background-color :#000000ed;
}
svg {
  position: absolute;
  margin:auto;
  height:100%;
  width:100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
}

.main-content{
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#instructions{
  position:absolute;
  width:100%;
  bottom:0;
  margin: auto;
  margin-bottom:40px;
  color:#167370;
  font-size:.9em;
  text-transform: uppercase;
  text-align : center;
  user-select: none;
}

#credits{
  position:absolute;
  width:100%;
  margin: auto;
  bottom:0;
  margin-bottom:20px;
  color:#565368;
  font-size:0.7em;
  text-transform: uppercase;
  text-align : center;
}
#credits a {
  color:#565368;
}

.below {
    width: 100%;
    top: 70%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    justify-content: space-between;
}

.title {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Montserrat";
  text-align: center;
  width: 60%;
  color: #fff ;
}

.title h1 {
  position: relative;
  color: #fff;
  font-weight: 300;
  font-size: 40px;
  padding: 0;
  margin: 0;
  line-height: 1;
}
.title h2 {
  font-weight: 600;
  font-size: 80px;
  padding: 0;
  margin: 0;
  line-height: 1;
}


.title h3 {
  font-weight: 200;
  font-size: 20px;
  padding: 0;
  margin: 0;
  line-height: 2;
  color: #5e7283;
  letter-spacing: 2px;
}
.title p {
  font-weight: 200;
  font-size: 16px;
  color: #5e7283;
}

div.transbox {
  margin: 22%;
  background-color: rgb(123, 123, 123,0.3);
  border: 1px solid black;
  /* top: 10%; */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

.bottom-buttons {
  text-decoration: none;
  font-size: 20px;
  margin-left: 50px;
  font-weight: 400;
}

.icon {
    vertical-align: -1rem;
    height: 3rem;
    width: 3rem;
    margin-right: 0.2rem;
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
  font-family: Montserrat;
  font-weight: 200;
}
html.modal-active, body.modal-active {
  overflow: hidden;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    margin: 0vh 4vh 0vh 3vh;

}

a:link, a:hover, a:active 
{
     color:white; 
     text-decoration:none; 
}

#modal-container {
  font-family: Montserrat;
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 60;
}
#modal-container.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: center;
  width: 45%;
}
#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  text-indent: 70px;
}
#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.content {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 0;
}
.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
.content .buttons {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;

}
.content .buttons .button {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  background: red;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.content .buttons .button:hover {
  color: white;
  background: #009bd5;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@media only screen and (max-device-width: 480px) {

.below {
    top: 70%;
    position: absolute;
}

.title {
  z-index: 10;
  position: absolute;
  /* left: 50%; */
  /* top: 28%; */
  /* transform: translateX(-50%) translateY(-50%); */
  font-family: "Montserrat";
  text-align: center;
  width: 60%;
  color: #fff;
  /* font-size: 20px; */
  top: 25%;
}

.title h1 {
  position: relative;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  padding: 0;
  margin: 0;
  line-height: 1;
}
.title h2 {
  font-weight: 600;
  font-size: 30px;
  padding: 0;
  margin: 0;
  line-height: 1;
}


.title h3 {
  font-weight: 200;
  font-size: 20px;
  padding: 0;
  margin: 0;
  line-height: 2;
  color: #5e7283;
  letter-spacing: 2px;
}

.bottom-buttons {
  text-decoration: none;
  font-size: 10px;
  margin-left: 1rem;
  font-weight: 400;
}

.icon {
    vertical-align: -0.25rem;
    height: 1rem;
    width: 1rem;
    margin-right: 0.2rem;
}


a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
}

a:link, a:hover, a:active 
{
     color:white; 
     text-decoration:none; 
}


}
